Jellyfin:
  Host: thisisatest
  SshKey:
  Jobs:
Hetzner:
  Token: thisisatest
  Server:
  Image:
  SshKey:
  Network:
  Firewall:
  PlacementGroup:
  Location:
  CloudInit:
Database:
  Type:
  Path:
  MigratorDir:
  Host:
  Port:
  Name:
  Username:
  Password:
Media:
  Username:
  Password: